* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 25px;
}
h1 {
    font-size: 60px;
}
p {
    font-size: 35px;
}