* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: rgb(47, 136, 203);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
}
h1 {
    font-size:35px;
}
p {
    font-size: 25px;
}