* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: rgb(180, 210, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 15px;
}
h1 {
    font-size: 28px;
    font-weight: 800;
    transition: ease-in 0.5s;
}
p {
    font-size: 19px;
    transition: ease-in 0.5s;
}
.header-container:hover {
   color:rgb(70, 118, 252);
}
